* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

main {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 2em;
}

club-list {
  margin-top: 32px;
  width: 100%;
  padding: 16px;
  display: block;
}

/* clock */
.clock {
  padding: 1em;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.clock .time {
  font-size: 2em;
}

.clock .date {
  font-size: 1em;
}
